<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Pavel Tiguntsev - UserID </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="vCard &amp; Resume Template">
        <meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio">
        <meta name="author" content="beshleyua">
        <!--
            Load Fonts
        -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        
        <!--
            Load CSS
        -->
        <link rel="stylesheet" href="/assets/css/basic.css">
        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/blogs.css">
        <link rel="stylesheet" href="/assets/css/ionicons.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/gradient.css">
        
        <!--
            Template Colors
        -->
        <!-- <link rel="stylesheet" href="../assets/css/template-colors/green.css"> -->
        <link rel="stylesheet" href="/assets/css/template-colors/blue.css" />
        <!--<link rel="stylesheet" href="css/template-colors/orange.css" />-->
        <!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
        <!--<link rel="stylesheet" href="css/template-colors/purple.css" />-->
        <!--<link rel="stylesheet" href="css/template-colors/red.css" />-->
        
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--
            Favicons
        -->
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
    
    <body>
        <style>
            nav li, nav button, nav a, nav div {
                display: inline-block;
            }
        </style>

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body>
    <div>

    </div>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shards.min.css?version=2.0.1">
    <link rel="stylesheet" href="/css/shards-extras.min.css?version=2.0.1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shards.min.css?version=2.0.1">
    <link rel="stylesheet" href="/css/shards-extras.min.css?version=2.0.1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" style="z-index: 100; position: absolute; width: 100%;">

                <a class="navbar-brand" href="/">Bloomlance</a> <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="navbar-collapse collapse" id="navbarNavDropdown-1" style=""><ul class="navbar-nav mr-auto"><li class="nav-item active"><a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a></li><li class="nav-item"><a class="nav-link" href="/tasks">Tasks</a></li><li class="nav-item"><a class="nav-link" href="/loans">Exlore Bloomlancers</a></li><li class="nav-item"><a class="nav-link" href="/loans">Exlore loans</a></li><li class="nav-item dropdown"  style="float: right;"><a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a><div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="/org">Organization</a> <a class="dropdown-item" href="/ico">Create ERC-20</a> </div></li></ul>
            <!-- <button id="logout" type="button" class="btn btn-outline-primary btn-pill" style="color: white">Log out</button> -->
            
        </div></nav>
        <div class="page" style="margin-top: 60px;">
            
    
    
            <div class="preloader" style="display: none;">
                <div class="centrize full-width">
                    <div class="vertical-center">
                        <div class="spinner" style="display: none;">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- background -->
            <div class="background gradient">
                <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
            </div>
    
            <!--
                Container
            -->
            <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">
    
                <!--
                    Header
                -->
                <header class="header">
    
                    <!-- menu -->
                    <div class="top-menu">
                        <ul>
                            <li class="active">
                                <a href="#about-card">
                                    <span class="icon ion-person"></span>
                                    <span class="link">About</span>
                                </a>
                            </li>
                            <li>
                                <a href="#resume-card">
                                    <span class="icon ion-android-list"></span>
                                    <span class="link">Resume</span>
                                </a>
                            </li>
                            <li>
                                <a href="#works-card">
                                    <span class="icon ion-paintbrush"></span>
                                    <span class="link">Works</span>
                                </a>
                            </li>
                            <li>
                                <a href="#blog-card">
                                    <span class="icon ion-chatbox-working"></span>
                                    <span class="link">Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="#contacts-card">
                                    <span class="icon ion-at"></span>
                                    <span class="link">Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
    
                </header>
    
                <!--
                    Card - Started
                -->
                <div class="card-started" id="home-card">
    
                    <!--
                        Profile
                    -->
                    <div class="profile">
    
                        <!-- profile image -->
                        <div class="slide" style="background-image: url(/images/profiles/bg/pavel.jpg);"></div>
    
                        <!-- profile photo -->
                        <div class="image">
                            <img src="/images/profiles/avatars/pavel.jpg" alt="">
                        </div>
    
                        <!-- profile titles -->
                        <div class="title">Pavel Tiguntsev</div>
                        <div class="subtitle">Coder / Deisgner / CEO</div>
    
                        <!-- profile socials -->
                        <div class="social">
                            <a target="_blank" href="https://www.facebook.com/pavelspbc"><span class="fab fa-facebook"></span></a>
                            <!-- <a target="_blank" href="https://twitter.com/"><span class="fab fa-twitter"></span></a> -->
                            <a target="_blank" href="https://bitbucket.org/pabloTTTT/"><span class="fab fa-bitbucket"></span></a>
                            <!-- <a target="_blank" href="https://www.spotify.com/"><span class="fab fa-spotify"></span></a> -->
                            <!-- <a target="_blank" href="https://stackoverflow.com/"><span class="fab fa-stack-overflow"></span></a> -->
                        
                        </div>
                        <div class="social">
                            Return 8/8 Loans
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        PA42 - TOKEN <br>
                        <p style="size: 16px;">2 ORGANIZATIONS</p>
                        </div>
                        <!-- profile buttons -->
                        <div class="lnks">
                            <a href="#" class="lnk">
                                <span class="text">Smart Hire</span>
                            </a>
                            <a href="#" class="lnk discover">
                                <span class="text">Contact Me</span>
                                <span class="arrow"></span>
                            </a>
                        </div>
    
                    </div>
    
                </div>
    
                <!-- 
                    Card - About
                -->
                <div class="card-inner animated active" id="about-card">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 570px;"><div class="card-wrap" style="overflow: scroll; width: auto; ">
    
                        <!-- 
                            About 
                        -->
                        <div class="content about">
    
                            <!-- title -->
                            <div class="title">About Me</div>
    
                            <!-- content -->
                            <div class="row">
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                    <div class="text-box">
                                        <p>
                                            I am Pavel Tiguntsev. I've been coding since 16 years old.
                                            Working in business since 17 years old. Now I'am 22. <br> I constanly improve my skills. So I could advise the planet for a good future living.
                                            I'm not 100% tech guy. I do also Computer Graphic, Science Fiction and business.
                                            Since I was young I was inspired by how we, nowdays people, could change the world.
                                            So thats why right now I'm working with DAOs. <br>
                                            My vision is that in 10 years world become desentralized.
                                        </p>
                                    </div>
                                    <div class="info-list">
                                        <ul>
                                            <li><strong>Age:</strong> 22</li>
                                            <li><strong>Residence: </strong> USA</li>
                                            <li><strong>Freelance: </strong> Not Available</li>
                                            <li><strong>Current job: </strong> Xbay.io</li>
                                            <li><strong>Address: </strong> 34793 Ardentech Ct, Fremont, CA 94555 </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                        <!--
                            Services
                        -->
                        <div class="content services">
    
                            <!-- title -->
                            <div class="title">My Services</div>
    
                            <!-- content -->
                            <div class="row service-items border-line-v">
    
                                <!-- service item -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                    <div class="service-item">
                                        <div class="name">Software Development</div>
                                        <!-- <p>
                                            Modern and mobile-ready website that will help you 
                                            reach all of your marketing.
                                        </p> -->
                                    </div>
                                </div>
    
                                <!-- service item -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                    <div class="service-item">
                                        <div class="name">Business Development</div>
                                        <!-- <p>
                                            Music copying, transcription, arranging and composition services.
                                        </p> -->
                                    </div>
                                </div>
    
                                <!-- service item -->
                                <div class="col col-d-6 col-t-6 col-m-12">
                                    <div class="service-item">
                                        <div class="name">Industrial design</div>
                                        <!-- <p>
                                            Advertising services include television, radio, print, mail and web.
                                        </p> -->
                                    </div>
                                </div>
    
                                <!-- service item -->
                                <div class="col col-d-6 col-t-6 col-m-12">
                                    <div class="service-item">
                                    
                                        <div class="name">Computer Graphic</div>
                                        <!-- <p>
                                            Developing memorable and unique mobile android, ios games.
                                        </p> -->
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                        <!--
                            Price Tables
                        -->
                        <div class="content pricing">
    
                            <!-- title -->
                            <div class="title">Pricing</div>
    
                            <!-- content -->
                            <div class="row pricing-items">
    
                                <!-- pricing item -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                    <div class="pricing-item">
                                        <div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
                                        <div class="name">Basic</div>
                                        <div class="amount">
                                            <span class="dollar">ETH</span>
                                            <span class="number">0.5</span>
                                            <span class="period">hour</span>
                                        </div>
                                        <div class="feature-list">
                                            <ul>
                                                <li>Web Development</li>
                                                <li>Advetising</li>
                                                <li>Game Development</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="lnks">
                                            <a href="#" class="lnk">
                                                <span class="text">Buy Basic</span>
                                                <i class="ion ion-speedometer speed-basic"></i>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
    
                                <!-- pricing item -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                    <div class="pricing-item">
                                        <div class="icon"><i class="ion ion-speedometer"></i></div>
                                        <div class="name">Pro</div>
                                        <div class="amount">
                                            <span class="dollar">ETH</span>
                                            <span class="number">1</span>
                                            <span class="period">hour</span>
                                        </div>
                                        <div class="feature-list">
                                            <ul>
                                                <li>Web Development</li>
                                                <li>Advetising</li>
                                                <li>Game Development</li>
                                                <li>Business Development</li>
                                                <li>Industrial design</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="lnks">
                                            <a href="#" class="lnk">
                                                <span class="text">Buy Pro</span>
                                                <i class="ion ion-speedometer"></i>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                        <!--
                            Fun Fact
                        -->
                        <div class="content fuct">
    
                            <!-- title -->
                            <div class="title">Fun Fact</div>
    
                            <!-- content -->
                            <div class="row fuct-items">
    
                                <!-- fuct item -->
                                <!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="fuct-item">
                                        <div class="icon"><span class="ion ion-disc"></span></div>
                                        <div class="name">80 Albumes Listened</div>
                                    </div>
                                </div> -->
    
                                <!-- fuct item -->
                                <!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="fuct-item">
                                        <div class="icon"><span class="ion ion-trophy"></span></div>
                                        <div class="name">15 Awards Won</div>
                                    </div>
                                </div> -->
    
                                <!-- fuct item -->
                                <!-- <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="fuct-item">
                                        <div class="icon"><span class="ion ion-coffee"></span></div>
                                        <div class="name">1 000 Cups of coffee</div>
                                    </div>
                                </div> -->
    
                                <!-- fuct item -->
                                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="fuct-item">
                                        <div class="icon"><span class="ion ion-flag"></span></div>
                                        <div class="name">20 Countries Visited</div>
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                        <!--
                            Clients
                        -->
                        <div class="content clients">
    
                            <!-- title -->
                            <div class="title">Clients</div>
    
                            <!-- content -->
                            <div class="row client-items">
    
                                <!-- client item -->
                                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="client-item">
                                        <div class="image">
                                            <a target="_blank" href="https://www.google.com">
                                                <img src="images/clients/client_1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- client item -->
                                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="client-item">
                                        <div class="image">
                                            <a target="_blank" href="https://www.google.com">
                                                <img src="images/clients/client_2.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- client item -->
                                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="client-item">
                                        <div class="image">
                                            <a target="_blank" href="https://www.google.com">
                                                <img src="images/clients/client_3.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- client item -->
                                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                    <div class="client-item">
                                        <div class="image">
                                            <a target="_blank" href="https://www.google.com">
                                                <img src="images/clients/client_4.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 182.528px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                </div>
    
                <!--
                    Card - Resume
                -->
                <div class="card-inner" id="resume-card">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 570px;"><div class="card-wrap" style="overflow: scroll; width: auto; ">
    
                        <!--
                            Resume
                        -->
                        <div class="content resume">
    
                            <!-- title -->
                            <div class="title">Resume</div>
    
                            <!-- content -->
                            <div class="row">
    
                                <!-- experience -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                    <div class="resume-title border-line-h">
                                        <div class="icon"><i class="ion ion-briefcase"></i></div>
                                        <div class="name">Experience</div>
                                    </div>
                                    <div class="resume-items">
                                        <div class="resume-item border-line-h ">
                                            <div class="date">2013 - 2018</div>
                                            <div class="name">Freelancer</div>
                                            <div class="company">xbay.io</div>
                                            <p>
                                                Collaborate with creative and development teams on the execution of ideas.
                                            </p>
                                        </div>
                                        <div class="resume-item border-line-h active">
                                            <div class="date">2018 - Present</div>
                                            <div class="name">Bloomlancer</div>
                                            <div class="company">Bloomlancer.<br>
                                                <div style="padding: 10px; style: color: red">0 approves</div></div>
                                            <p>
                                                Monitored technical aspects of the front-end delivery for several projects.
                                            </p>
                                        </div>
                                        <div class="resume-item">
                                            <div class="date">2016 - 2017</div>
                                            <div class="name">Junior JavaScript Developer</div>
                                            <div class="company">Abc Inc.</div>
                                            <p>
                                                Optimize website performance using latest technology.
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- education -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                    <div class="resume-title border-line-h">
                                        <div class="icon"><i class="ion ion-university"></i></div>
                                        <div class="name">Education</div>
                                    </div>
                                    <div class="resume-items">
                                        <div class="resume-item border-line-h">
                                            <div class="date">2006 - 2008</div>
                                            <div class="name">Art University</div>
                                            <div class="company">New York<br>
                                                <div style="padding: 10px;">4 approves</div></div>
                                            <p>
                                                Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
                                            </p>
                                        </div>
                                        <div class="resume-item border-line-h">
                                            <div class="date">2005 - 2006</div>
                                            <div class="name">Programming Course</div>
                                            <div class="company">Paris<br>
                                                <div style="padding: 10px;"> 6 approves</div></div>
                                            <p>
                                                Coursework - Git, WordPress, Javascript, iOS, Android.
                                            </p>
                                        </div>
                                        <div class="resume-item">
                                               
                                            <div class="date">2004 - 2005</div>
                                            <div class="name">Web Design Course</div>
                                            
                                            <div class="company">London <br>
                                                <div style="padding: 10px;">2 approves</div></div>
                                            <p>
                                                Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                        <!--
                            Skills
                        -->
                        <div class="content skills">
    
                            <!-- title -->
                            <div class="title">My Skills</div>
    
                            <!-- content -->
                            <div class="row">
    
                                <!-- skill item -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                    <div class="skills-list">
                                        <div class="skill-title border-line-h">
                                            <div class="icon"><i class="ion ion-easel"></i></div>
                                            <div class="name">Design</div>
                                        </div>
                                        <ul>
                                            <li class="border-line-h"> 
                                                <div class="name">Graphic Design</div>
                                                <div class="progress">
                                                    <div class="percentage" style="width:90%; margin-bottom: 5px;"></div>
                                                    <div style="padding: 10px;">2 approves</div>
                                                </div>
                                            </li>
                                            <li class="border-line-h"> 
                                                <div class="name">Web / App Design</div>
                                
                                                <div class="progress">
                                                    <div class="percentage" style="width:85%;"></div>
                                                    <div style="padding: 10px;">4 approves</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
    
                                <!-- skill item -->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                    <div class="skills-list">
                                        <div class="skill-title border-line-h">
                                            <div class="icon"><i class="ion ion-code"></i></div>
                                            <div class="name">Coding</div>
                                        </div>
                                        <ul>
                                            <li class="border-line-h"> 
                                                <div class="name">JavaScript / Node.js</div>
                                                <div class="progress">
                                                    <div class="percentage" style="width:90%;"></div>
                                                    <div style="padding: 10px;">14 approves</div>
                                                </div>
                                            </li>
                                            <li class="border-line-h"> 
                                                <div class="name">GoLang Programming</div>
                                                <div class="progress">
                                                    <div class="percentage" style="width:65%;"></div>
                                                    <div style="padding: 10px;">2 approves</div>
                                                </div>
                                            </li>
                                            <li class="border-line-h"> 
                                                <div class="name">Python / Data Science</div>
                                                <div class="progress">
                                                    <div class="percentage" style="width:75%;"></div>
                                                    <div style="padding: 10px;">2 approves</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 285.25px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                </div>
    
                <!--
                    Card - Works
                -->
                <div class="card-inner" id="works-card">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 570px;"><div class="card-wrap" style="overflow: scroll; width: auto; height: 570px;">
    
                        <!--
                            Works
                        -->
                        <div class="content works">
    
                            <!-- title -->
                            <div class="title">Recent Works</div>
    
                            <!-- filters -->
                            <div class="filter-menu filter-button-group">
                                <div class="f_btn active">
                                    <label><input type="radio" name="fl_radio" value="grid-item">All</label>
                                </div>
                                <div class="f_btn">
                                    <label><input type="radio" name="fl_radio" value="photo">Photo</label>
                                </div>
                                <div class="f_btn">
                                    <label><input type="radio" name="fl_radio" value="video">Video</label>
                                </div>
                                <div class="f_btn">
                                    <label><input type="radio" name="fl_radio" value="music">Music</label>
                                </div>
                                <div class="f_btn">
                                    <label><input type="radio" name="fl_radio" value="design">Design</label>
                                </div>
                            </div>
    
                            <!-- content -->
                            <div class="row grid-items border-line-v" style="position: relative; height: 1220.08px;">
    
                                <!-- work item photo -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h" style="position: absolute; left: 0%; top: 0px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="images/works/work1.jpg" class="has-popup-image">
                                                <img src="images/works/work1.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-image"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="images/works/work1.jpg" class="name has-popup-image">Motorcycle Helmet</a>
                                            <div class="category">Photo</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item video -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item video border-line-h" style="position: absolute; left: 49.8039%; top: 0px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="https://vimeo.com/97102654" class="has-popup-video">
                                                <img src="images/works/work2.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-videocamera"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="https://vimeo.com/97102654" class="name has-popup-video">Minimalism Shapes</a>
                                            <div class="category">Video</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item music -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item music border-line-h" style="position: absolute; left: 49.8039%; top: 257px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="https://w.soundcloud.com/player/?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&amp;show_artwork=true" class="has-popup-music">
                                                <img src="images/works/work3.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-music-note"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="#" class="name has-popup">Staircase</a>
                                            <div class="category">Music</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item design -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h" style="position: absolute; left: 0%; top: 400px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="#popup-1" class="has-popup-media">
                                                <img src="images/works/work4.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-images"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="#popup-1" class="name has-popup-media">Mobile Application</a>
                                            <div class="category">Design</div>
                                        </div>
                                        <div id="popup-1" class="popup-box mfp-fade mfp-hide">
                                            <div class="content">
                                                <div class="image">
                                                    <img src="images/works/work4.jpg" alt="">
                                                </div>
                                                <div class="desc">
                                                    <div class="post-box">
                                                        <h1>Mobile Application</h1>						
                                                        <div class="blog-detail">Design</div>
                                                        <div class="blog-content">
                                                            <p>
                                                                So striking at of to welcomed resolved. Northward by described up household therefore 
                                                                attention. Excellence decisively nay man yet impression for contrasted remarkably.
                                                            </p>
                                                            <p>
                                                                Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. 
                                                                Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining 
                                                                determine few her two cordially admitting old.
                                                            </p>
                                                            <blockquote>
                                                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                                                                Curae; Pellentesque suscipit.
                                                            </blockquote>
                                                            <p>
                                                                Tiled say decay spoil now walls meant house. My mr interest thoughts screened of outweigh 
                                                                removing. Evening society musical besides inhabit ye my. Lose hill well up will he over on. 
                                                                Increasing sufficient everything men him admiration unpleasing sex.
                                                            </p>
                                                            <ul class="list-style">
                                                                <li>Greatest properly off ham exercise all.</li>
                                                                <li>Unsatiable invitation its possession nor off.</li>
                                                                <li>All difficulty estimating unreserved increasing the solicitude.</li>
                                                            </ul>
                                                            <p>
                                                                Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means 
                                                                up civil do an offer wound of.
                                                            </p>
                                                        </div>
                                                        <a href="#" class="button">
                                                            <span class="text">View Project</span>
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item photo -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h" style="position: absolute; left: 49.8039%; top: 494px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="images/works/work5.jpg" class="has-popup-image">
                                                <img src="images/works/work5.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-image"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="images/works/work5.jpg" class="name has-popup-image">Gereal Travels</a>
                                            <div class="category">Photo</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item music -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item music border-line-h" style="position: absolute; left: 0%; top: 693px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="https://w.soundcloud.com/player/?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&amp;show_artwork=true" class="has-popup-music">
                                                <img src="images/works/work8.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-music-note"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="#" class="name has-popup">Daylight Entrance</a>
                                            <div class="category">Music</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item video -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item video border-line-h" style="position: absolute; left: 49.8039%; top: 839px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="https://vimeo.com/97102654" class="has-popup-video">
                                                <img src="images/works/work6.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-videocamera"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="https://vimeo.com/97102654" class="name has-popup-video">Architecture</a>
                                            <div class="category">Video</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- work item design -->
                                <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h" style="position: absolute; left: 0%; top: 969px;">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="#popup-2" class="has-popup-media">
                                                <img src="images/works/work7.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-images"></span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="#popup-2" class="name has-popup-media">Social Website</a>
                                            <div class="category">Design</div>
                                        </div>
                                        <div id="popup-2" class="popup-box mfp-fade mfp-hide">
                                            <div class="content">
                                                <div class="image">
                                                    <img src="images/works/work7.jpg" alt="">
                                                </div>
                                                <div class="desc">
                                                    <div class="post-box">
                                                        <h1>Mobile Application</h1>						
                                                        <div class="blog-detail">Design</div>
                                                        <div class="blog-content">
                                                            <p>
                                                                So striking at of to welcomed resolved. Northward by described up household therefore 
                                                                attention. Excellence decisively nay man yet impression for contrasted remarkably.
                                                            </p>
                                                            <p>
                                                                Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. 
                                                                Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining 
                                                                determine few her two cordially admitting old.
                                                            </p>
                                                            <blockquote>
                                                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                                                                Curae; Pellentesque suscipit.
                                                            </blockquote>
                                                            <p>
                                                                Tiled say decay spoil now walls meant house. My mr interest thoughts screened of outweigh 
                                                                removing. Evening society musical besides inhabit ye my. Lose hill well up will he over on. 
                                                                Increasing sufficient everything men him admiration unpleasing sex.
                                                            </p>
                                                            <ul class="list-style">
                                                                <li>Greatest properly off ham exercise all.</li>
                                                                <li>Unsatiable invitation its possession nor off.</li>
                                                                <li>All difficulty estimating unreserved increasing the solicitude.</li>
                                                            </ul>
                                                            <p>
                                                                Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means 
                                                                up civil do an offer wound of.
                                                            </p>
                                                        </div>
                                                        <a href="#" class="button">
                                                            <span class="text">View Project</span>
                                                            <span class="arrow"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 409.194px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                </div>
    
                <!--
                    Card - Blog
                -->
                <div class="card-inner blog" id="blog-card">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 570px;"><div class="card-wrap" style="overflow: scroll; width: auto; height: 570px;">
    
                        <!--
                            Blog
                        -->
                        <div class="content blog">
    
                            <!-- title -->
                            <div class="title">Latest Posts</div>
    
                            <!-- content -->
                            <div class="row border-line-v">
    
                                <!-- blog item -->
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-h">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="blog-post.html">
                                                <img src="images/blog/blog1.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-document-text"></span>
                                                </span>
                                                <span class="date"><strong>20</strong>Jun</span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="blog-post.html" class="name">By spite about do of do allow blush</a>
                                            <div class="category">Design</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- blog item -->
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-h">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="blog-post.html">
                                                <img src="images/blog/blog2.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-document-text"></span>
                                                </span>
                                                <span class="date"><strong>19</strong>Jun</span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="blog-post.html" class="name">Two Before Arrow Not Relied</a>
                                            <div class="category">Coding</div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- blog item -->
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-h">
                                    <div class="box-item">
                                        <div class="image">
                                            <a href="blog-post.html">
                                                <img src="images/blog/blog3.jpg" alt="">
                                                <span class="info">
                                                    <span class="ion ion-document-text"></span>
                                                </span>
                                                <span class="date"><strong>20</strong>Jun</span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <a href="blog-post.html" class="name">By spite about do of do allow blush</a>
                                            <div class="category">Travel</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 570px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                </div>
    
                <!--
                    Card - Contacts
                -->
                <div class="card-inner contacts" id="contacts-card">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 570px;"><div class="card-wrap" style="overflow: scroll; width: auto; height: 570px;">
    
                        <!--
                            Conacts Info
                        -->
                        <div class="content contacts">
    
                            <!-- title -->
                            <!-- <div class="title">Get in Touch</div> -->
    
                            <!-- content -->
                            <!-- <div class="row">
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                    <div class="map" id="map" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -255, -111);"><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -255, -111);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -255, -111);"><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i14!2i4826!3i6156!4i256!2m3!1e0!2sm!3i437142892!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjZ8cC5jOiNmZmQ4ZGVlOXxwLnY6b24scy50OjV8cC5jOiNmZmVlZWVlZQ!4e0!5m1!5f2!23i1301875&amp;token=30780" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear;"><img draggable="false" alt="" role="presentation" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i14!2i4825!3i6156!4i256!2m3!1e0!2sm!3i437142892!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjZ8cC5jOiNmZmQ4ZGVlOXxwLnY6b24scy50OjV8cC5jOiNmZmVlZWVlZQ!4e0!5m1!5f2!23i1301875&amp;token=124065" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0; left: -14px; top: -43px; z-index: 0;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" title="We are here!" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" src="about:blank" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"></iframe><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=40.773328,-73.960088&amp;z=14&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 85px; top: 5px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2018 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 166px; bottom: 0px; width: 121px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2018 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 95px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" rel="noopener" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" class="gm-control-active gm-fullscreen-control" style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; display: none; top: 0px; right: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;"></button><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@40.773328,-73.960088,14z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="40" controlheight="81" style="margin: 10px; user-select: none; position: absolute; bottom: 95px; right: 40px;"><div class="gmnoprint" controlwidth="40" controlheight="81" style="position: absolute; left: 0px; top: 0px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;"><button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;"></button><div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"></div><button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;"></button></div></div></div></div></div></div>
                                    <div class="info-list">
                                        <ul>
                                            <li><strong>Address . . . . .</strong> California, USA</li>
                                            <li><strong>Email . . . . .</strong> adlard@example.com</li>
                                            <li><strong>Phone . . . . .</strong> +123 654 78900</li>
                                            <li><strong>Freelance . . . . .</strong> Available</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div> -->
    
                        </div>
    
                        <!--
                            Contact Form
                        -->
                        <div class="content contacts">
    
                            <!-- title -->
                            <div class="title">Contact Form</div>
    
                            <!-- content -->
                            <div class="row">
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                    <div class="contact_form">
                                        <form id="cform" method="post" novalidate="novalidate">
                                            <div class="row">
                                                <div class="col col-d-6 col-t-6 col-m-12">
                                                    <div class="group-val">
                                                        <input type="text" name="name" placeholder="Full Name">
                                                    </div>
                                                </div>
                                                <div class="col col-d-6 col-t-6 col-m-12">
                                                    <div class="group-val">
                                                        <input type="text" name="email" placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="col col-d-12 col-t-12 col-m-12">
                                                    <div class="group-val">
                                                        <textarea name="message" placeholder="Your Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="align-left">
                                                <a href="#" class="button" onclick="$('#cform').submit(); return false;">
                                                    <span class="text">Send Message</span>
                                                    <span class="arrow"></span>
                                                </a>
                                            </div>
                                        </form>
                                        <div class="alert-success">
                                            <p>Thanks, your message is sent successfully.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
    
                        </div>
    
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 413.359px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                </div>
    
            </div>
        </div>
        
        <!--
            jQuery Scripts
        -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.validate.js"></script>
        <script src="/assets/js/jquery.magnific-popup.js"></script>
        <script src="/assets/js/imagesloaded.pkgd.js"></script>
        <script src="/assets/js/masonry.pkgd.js"></script>
        <script src="/assets/js/masonry-filter.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/scripts.js"></script>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<script src="./user.js"></script>
<script>
    $("#logout").click(() => {
        window.location.href = "/";
    })
</script>