<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloomlance - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shards.min.css?version=2.0.1">
    <link rel="stylesheet" href="/css/shards-extras.min.css?version=2.0.1">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4"><a class="navbar-brand" href="/">Bloomlance</a> <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="navbar-collapse collapse" id="navbarNavDropdown-1" style=""><ul class="navbar-nav mr-auto"><li class="nav-item active"><a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a></li><li class="nav-item"><a class="nav-link" href="/tasks">Tasks</a></li><li class="nav-item"><a class="nav-link" href="/bloomers">Expore Bloomlancers</a></li><li class="nav-item"><a class="nav-link" href="#">Exlore loans</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Organization</a><div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Structure</a> <a class="dropdown-item" href="#">Create ERC-20</a> <a class="dropdown-item" href="#">Marketing</a></div></li></ul>
            <button id="logout" type="button" class="btn btn-outline-primary btn-pill" style="color: white">Log out</button>
            
        </div></nav>
        <div class="container">
            <div id="typography" class="container mb-5"><div class="section-title col-lg-8 col-md-10 ml-auto mr-auto"><h3 class="mb-4">Typography</h3><p>Shards uses Poppins as its primary typeface for headings and the system’s UI font with a Roboto-first fallback (only on non-Apple devices) for the remaining content.</p></div><div class="example col-md-10 ml-auto mr-auto"><table class="table table-striped table-responsive-md"><thead><tr><th>Type</th><th>Example</th><th>Font</th><th>Font Size</th><th>Line Height</th></tr></thead><tbody><tr><td>Heading 1</td><td><h1>ABCabc</h1></td><td>Poppins Semibold</td><td>3.052 REM</td><td>3 REM</td></tr><tr><td>Heading 2</td><td><h2>ABCabc</h2></td><td>Poppins Medium</td><td>2.441 REM</td><td>2.25 REM</td></tr><tr><td>Heading 3</td><td><h3>ABCabc</h3></td><td>Poppins Medium</td><td>1.953 REM</td><td>2.25 REM</td></tr><tr><td>Paragraph</td><td><p>ABCabc</p></td><td>System UI / Roboto</td><td>1 REM</td><td>1.5</td></tr></tbody></table></div></div>
        <div class="row">
            <div class="col-12">
                <h5 class="mb-4">Token information</h5>
                <p class="mb-4">ERC-20 Coin that can represent your business shares.</p>
                <form id="contract-builder">
                    <div class="row">
                    <label>Token name:</label>
                    <input type="text" id="token_name" class="form-control is-valid" placeholder="ex. SomeSuperCoin" value="" required="true"><br>
                    </div>
                    <div class="row">
                    <label>Symbol:</label>
                    <input type="text" id="token_symbol" class="form-control is-valid" placeholder="XXX" value="" required="true">
                    </div>
                    <div class="row">
                    <label>Decimals:</label>
                        <input type="number" id="decimals" class="form-control is-valid" placeholder="0" required="true">

                        <label>Total supply:</label>
                        <input type="number" id="total_supply"  class="form-control is-valid" value="21000000" required="true">
                    </div>
                    <button type="submit" class="btn btn-success btn-pill" style="margin-top: 20px;">Deploy</button>
                </form>
    </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/browser-solc.min.js"></script>
<script src="/erc-deploy.js"></script>
<script>
$("#logout").click(() => {
    window.location.href = "/";
})
</script>