<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloomlance - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shards.min.css?version=2.0.1">
    <link rel="stylesheet" href="/css/shards-extras.min.css?version=2.0.1">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4"><a class="navbar-brand" href="/">Bloomlance</a> <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="navbar-collapse collapse" id="navbarNavDropdown-1" style=""><ul class="navbar-nav mr-auto"><li class="nav-item active"><a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a></li><li class="nav-item"><a class="nav-link" href="/tasks">Tasks</a></li><li class="nav-item"><a class="nav-link" href="/bloomers">Expore Bloomlancers</a></li><li class="nav-item"><a class="nav-link" href="/loans">Exlore loans</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Organization</a><div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="/org">Structure</a> <a class="dropdown-item" href="/ico">Create ERC-20</a></div></li></ul>
            <button id="logout" type="button" class="btn btn-outline-primary btn-pill" style="color: white">Log out</button>
            
        </div></nav>
        <div class="container">
            
                <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                              <div class="div card-img-top" style="background: #333; padding: 20px; ">
                            <img class="card-img-top" style="max-width: 90%; marging: 5%;" src="https://xbay.io/logo.png" alt="Card image cap">
                        </div>
                            <div class="card-body">
                              <h3 class="card-title">Xbay.io</h4>
                              <h6 class="card-title">Bloomers - 3</h6>
                              <h6 class="card-title">Token - XIO</h6>
                              <h6 class="card-title">Supply - 21 000 000</h6>
                              <p class="card-text"></p>
                              <a href="#" class="btn btn-primary">Tell me more &rarr;</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Test organization</h4>
                              <h6 class="card-title">Bloomers - 0</h6>
                              <h6 class="card-title">Token - TTT</h6>
                              <h6 class="card-title">Supply - 0</h6>
                              <p class="card-text"></p>
                              <a href="#" class="btn btn-primary">Tell me more &rarr;</a>
                            </div>
                          </div>
                        </div>
                      </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/browser-solc.min.js"></script>
<script src="/erc-deploy.js"></script>
<script>
$("#logout").click(() => {
    window.location.href = "/";
})
</script>