<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloomlance - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shards.min.css?version=2.0.1">
    <link rel="stylesheet" href="/css/shards-extras.min.css?version=2.0.1">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4"><a class="navbar-brand" href="/">Bloomlance</a> <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="navbar-collapse collapse" id="navbarNavDropdown-1" style=""><ul class="navbar-nav mr-auto"><li class="nav-item active"><a class="nav-link" href="/">Profile <span class="sr-only">(current)</span></a></li><li class="nav-item"><a class="nav-link" href="/tasks">Tasks</a></li><li class="nav-item"><a class="nav-link" href="/bloomers">Expore Bloomlancers</a></li><li class="nav-item"><a class="nav-link" href="/loans">Exlore loans</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Organization</a><div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="/org">Structure</a> <a class="dropdown-item" href="#">Create ERC-20</a> <a class="dropdown-item" href="/">Marketing</a></div></li></ul>
            <button id="logout" type="button" class="btn btn-outline-primary btn-pill" style="color: white">Log out</button>
            
        </div></nav>
        <div class="container">
            
                <div class="contact section-invert py-4">
                        <h3 class="section-title text-center m-5">New Smart Task</h3>
                        <div class="container py-4">
                          <div class="row justify-content-md-center px-4">
                            <div class="contact-form col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card">
                              
                              <form>
                                <div class="row">
                                  <div class="col-md-6 col-sm-12">
                                      <div class="form-group">
                                          <label for="contactFormFullName">Title</label>
                                          <input type="text" class="form-control" id="contactFormFullName" placeholder="ex. Build backed for your coolest app">
                                        </div>
                                    <div class="form-group">
                                      <label for="contactFormFullName">Passing score
                                        </label>
                                      <input type="number" class="form-control" id="teask" placeholder="ex. Performer got money after this vote reached">
                                    </div>
                                    <div class="resm" style="background: #aaa; padding: 5px; border-radius: 5px;">
                                      
                                    <div class="form-group" class=".member-inp" style="text-align: center;">
                                      <div class="row">
                                        <div class="col-6"><label for="contactFormFullName">Address</label>
                                          <input type="text" class="form-control" id="contactFormFullName" placeholder="You or your org members"> <i class="fa fa-arrow-plus"></i></div>
                                          <div class="col-6">
                                              <label for="contactFormFullName">Vote power</label>
                                              <input type="number" class="form-control" id="contactFormFullName" placeholder="ex. Build backed for your coolest app"> <i class="fa fa-arrow-plus"></i></div>
                                          </div>
                                          <i class="fa fa-plus"></i>
                                        </div>
                                            
                                    </div>
                                    <div>
                                        <div id="shards-custom-slider">
                                            <input type="hidden" class='custom-slider-input' name="custom-slider-value-1" >
                                            <input type="hidden" class='custom-slider-input' name="custom-slider-value-2" >
                                          </div>
                                          
                                    </div>
                                  

                                </div>

                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      
                                        <label for="exampleInputEmail1">Description</label>
                                        <textarea id="exampleInputEmail1" class="form-control mb-4" rows="10" placeholder="Enter Descr" name="message"></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                      <label for="contactFormEmail">ETH or ERC-20</label>
                                      <select class="custom-select" id="form1-state"><option value="" selected="selected">Choose One</option><option value="1">ETH</option><option value="2">ERC-20</option></select>
                                    </div>
                                  </div>
                                <input id="task-submit" class="btn btn-success btn-pill d-flex ml-auto mr-auto" type="button" value="Submit">
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
 
                      <div class="blog section section-invert py-4">
                            <h3 class="section-title text-center m-5">Latest Contracts</h3>
                            <div class="container">
                              <div class="py-4">
                                <div class="row">
                                  <div class="card-deck">
                                    <div class="col-md-12 col-lg-4">
                                      <div class="card mb-4">
                                        <img class="card-img-top" src="https://cdn-images-1.medium.com/max/1200/1*nq9cdMxtdhQ0ZGL8OuSCUQ.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">10 ETH</h4>
                                          <h4 class="card-title">Vue.JS Development</h4>
                                          <p class="card-text">descr</p>
                                          <a class="btn btn-outline-success btn-pill" href="#">10 ETH →</a>
                                          <a class="btn btn-outline-success btn-pill" href="#">Read More →</a>
                                        </div>
                                      </div>
                                    </div>
                    
                                    <div class="col-md-12 col-lg-4">
                                      <div class="card mb-4">
                                        <img class="card-img-top" src="https://www.freelancinggig.com/blog/wp-content/uploads/2017/01/Backend-as-a-Service-BaaS.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">20 ETH</h4>
                                          <h4 class="card-title">Bass Development</h4>
                                          <p class="card-text">descr</p>
                                          <a class="btn btn-outline-success btn-pill" href="#">20 ETH →</a>
                                          <a class="btn btn-outline-success btn-pill" href="#">Read More →</a>
                                        </div>
                                      </div>
                                    </div>
                    
                                    <div class="col-md-12 col-lg-4">
                                      <div class="card mb-4">
                                        <img class="card-img-top" src="https://cdn-images-1.medium.com/max/400/1*_IS8pZzkhvd6kUbSFpSgag.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title"></h4>
                                          <h4 class="card-title">Smart Contract</h4>
                                          <p class="card-text">descr</p>
                                          <a class="btn btn-outline-success btn-pill" href="#">20 ETH →</a>
                                          <a class="btn btn-outline-success btn-pill" href="#">Read More →</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/browser-solc.min.js"></script>
<script src="/task-deploy.js"></script>

<script>
$("#logout").click(() => {
    window.location.href = "/";
})
</script>